.NCLogo {
    height: 100px;
    width: 100px;
}

.Title {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.NavBar {
    margin-left: 10%;
}

.homeButton {
    margin-right: 30%;
}

.Article {
    text-align: center;
    line-height: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10%;
}
.ArticleImg {
    height: 200px;
}