.HorizontalLine {
    margin-top: 2em;
}

.TopicHeading {
    text-align: center;
    margin-top: -5px;
}

.Headline {
    margin-top: 1.8em;
}

.LatestTopicNews {
    display: inline-block;
}

.PopularNewsHeading {
    margin-left: 0.2em;
    margin-top: -1.4em;
    margin-bottom: 2em;
}

.PopularList {
    margin-top: -0.5em;
}

.TopicImg {
    border-radius: 20px;
    width: 475px;
    height: 367px;
    float: left;
    margin-top: 2em;
    filter: drop-shadow(0 0 0.5rem black);
}

.TopicName {
    font-weight: 500;
    font-size: large;
    color: rgba(122, 118, 118, 0.805);
    border-right: 2.5px solid #f34040; 
    position: relative;
    top: 45px;
    left: -45px;
}

.TopicDate {
    position: relative;
    top: 38px;
    left: -25px;
}

.TopicTitle {
    position: relative;
    top: 45px;
    left: 40px;

}

.TopicBody {
    position: relative;
    top: 55px;
    left: 40px;
    right: 10px;
    text-align: justify;
    margin-right: 3em;
    line-height: 1.5em;
    font-size: larger;
}  

.TopicAuthor {
    color: #f34040;
    font-weight: 500;
    font-size: large;
    border-right: 2.5px solid #f34040;
    position: relative;
    left: 39px;
    top: 65px;
    margin-right: 15em;
}

.TopicVotes {
    color: rgba(122, 118, 118, 0.805);
    font-weight: 500;
    font-size: large;
    margin-left: 36em;
    margin-top: 2.1em;
}

.ReadMoreOnTopic {
    color: grey;
    text-decoration: underline;
    float: inline-end;
    margin-top: -0.8em;
    margin-right: 1em;
    font-size: large;
}

.TopicCards {
    position: relative;
    top: 60px;
}









